In [1]:
import pandas as pd
from pycaret import classification
from pycaret.classification import *

In [9]:
df = pd.read_csv(r"C:\Users\Matheus\Desktop\Estudo\Kafka\Transação_Credito\Previsao\Dados\card_transdata.csv")

In [4]:
df.head(5)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [13]:
#Verificando se a base de dados esta desbalanceada
positivos = df[df['fraud'] == 1].shape[0]
negativos = df[df['fraud'] == 0].shape[0]

perc = (positivos/(positivos + negativos))*100

print(f"Quantidade de diagnósticos positivos: {positivos} "  )
print(f"Quantidade de diagnósticos negativos: {negativos} "  )
print(f"Percentual de positivos: {perc}%")

Quantidade de diagnósticos positivos: 87403
Quantidade de diagnósticos negativos: 912597
Percentual de positivos: 8.7403%

In [14]:
categorias =['repeat_retailer', 'used_chip', 'used_pin_number','online_order']

In [15]:
inicialização = setup(df, target='fraud', normalize=True, fix_imbalance=True,
                      categorical_features= categorias)

In [16]:
best_model = compare_models()

In [17]:
model = create_model(best_model)

In [18]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [29]:
final_best = finalize_model(model)
save_model(final_best, '../models/fraud_detection')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['distance_from_home',
                                              'distance_from_last_transaction',
                                              'ratio_to_median_purchase_price'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imput...
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('actual_estimator',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, random_state=6672,
                                         splitter='best'))],
          verbose=False),
 '../models/fraud_detection.pkl')

In [24]:
df[df['fraud'] == 1]

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
13,2.131956,56.372401,6.358667,1.0,0.0,0.0,1.0,1.0
24,3.803057,67.241081,1.872950,1.0,0.0,0.0,1.0,1.0
29,15.694986,175.989182,0.855623,1.0,0.0,0.0,1.0,1.0
35,26.711462,1.552008,4.603601,1.0,1.0,0.0,1.0,1.0
36,10.664474,1.565769,4.886521,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
999908,45.296658,0.882736,8.856861,1.0,0.0,0.0,1.0,1.0
999916,167.139756,0.282253,0.308468,1.0,0.0,0.0,1.0,1.0
999919,124.640118,0.004416,0.434885,1.0,0.0,0.0,1.0,1.0
999939,51.412900,3.429330,29.914254,1.0,0.0,0.0,1.0,1.0
999949,15.724799,1.875906,11.009366,1.0,1.0,0.0,1.0,1.0

In [3]:
loaded_model = load_model('../models/fraud_detection')

novos_dados = pd.DataFrame({
    'distance_from_home': [26.711462],
    'distance_from_last_transaction': [56.372401]	,
    'ratio_to_median_purchase_price': [4.603601],
    'repeat_retailer': [0],
    'used_chip': [0],
    'used_pin_number': [0],
    'online_order': [1],
})
predict_model(loaded_model, raw_score= True, data = novos_dados)

Transformation Pipeline and Model Successfully Loaded

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,prediction_label,prediction_score_0,prediction_score_1
0,26.711462,56.372402,4.603601,0,0,0,1,1,0.0,1.0